/* add home page styles here */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.links-cont{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 50%;
}

/* .content-container{

} */