
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root{
    --main-bg-color: rgb(26,26,26);
    --content-cont-bg-color: rgba(57,57,57);
    --button-bg-color: rgba(80,80,80);
    --white-text-color: rgb(255,255,255);
    --CTA-color: rgb(117,171,248);
    --box-shadow-color: rgb(239,214,9);
    --brand-font: 'Pacifico', cursive;
    --tagline-font: 'Abril Fatface';
    --CTA-font: 'Fredoka One', cursive;
}

body{
    background-color: var(--main-bg-color);
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-cont{
    background-color: var(--content-cont-bg-color);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 280px;
    width: 30%;
    min-height: 300px;
    height: 40%;
}

.brand-title{
   font-family: var(--brand-font);
   color: var(--white-text-color);
   font-size: 4rem;
   text-align: center;
}

.brand-tagline{
    font-family: var(--tagline-font);
    color: var(--white-text-color);
    text-align: center;
    font-weight: lighter;
    position: relative;
    bottom: 22px;
    left: px;
    font-size: 0.99rem;
}

a, button{
    color: var(--white-text-color);
    border: 3px solid var(--CTA-color);
    background-color: var(--button-bg-color);
    font-size: 1rem;
    border-radius: 12%;
    width: 40%;
    min-width: 75px;
    max-width: 125px;
    min-height: 50px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    font-family: var(--CTA-font);
    transition: animation 0.25s ease-in-out;
    animation: attention 8s infinite;
}

a:hover, button:hover{
    cursor: pointer;
    box-shadow: 0 0 5px var(--white-text-color);
    animation: hover-button 3s ease-in-out infinite;
}

@keyframes hover-button {
    0% {
		/* box-shadow: 0 5px 15px 0px rgba(255,255,255,0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 5px 15px 0px rgba(255,255,255,0.6); */
		transform: translatey(-5px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(255,255,255,0.6); */
		transform: translatey(0px);
	}
}

@keyframes attention {
    98%{
        transform: rotate(0);
    }
    
    99% {
        /* box-shadow: 0 5px 15px 0px rgba(255,255,255,0.6); */
        transform: rotate(2deg);
    }
    
    100%{
        transform: rotate(-2deg);
    }
}

label p, form p{
    color: var(--CTA-color);
    font-family: var(--CTA-font);
}

.account-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 200px;
}

input{
    border-radius: 5%;
    min-height: 25px;
    font-family: var(--tagline-font);
    -webkit-appearance: none;
    appearance: none;
    border: var(--main-bg-color) 4px solid;
    min-height: 30px;
    text-align: center;
}

.links-cont{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
}


@media screen and (max-width: 500px) {
    .content-cont{
        min-height: 400px;
        min-width: 99%;
    }
}