
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root{
    --main-bg-color: rgb(26,26,26);
    --content-cont-bg-color: rgba(57,57,57);
    --button-bg-color: rgba(80,80,80);
    --white-text-color: rgb(255,255,255);
    --brand-font: 'Pacifico', cursive;
    --tagline-font: 'Abril Fatface';
    --CTA: 'Fredoka One', cursive;
}

body{
    /* display: flex; 
    align-items: center;
    justify-content: center; */
    background-color: var(--main-bg-color);
}

main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.content-cont{
    background-color: var(--content-cont-bg-color);
    border-radius: 15%;
    grid-column: 2 / 10;
    grid-row: 4 / 14;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.brand-title{
   font-family: var(--brand-font);
   color: var(--white-text-color);
   font-size: 4rem;
   text-align: center;
}

.brand-tagline{
    font-family: var(--tagline-font);
    color: var(--white-text-color);
    text-align: center;
    font-weight: lighter;
}

a, button{
    color: var(--main-bg-color);
    border: 3px solid var(--white-text-color);
    background-color: var(--button-bg-color);
    font-size: 1rem;
    border-radius: 12%;
    width: 40%;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: auto;
    font-family: var(--CTA);
}

@media screen {
    
}